$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$color-black: #000;

$device-width-desktop: 1279px;
$device-width-tablet: 767px;
$device-width-mobile: 319px;

$padding-wide: 40px;
$padding-tab: 30px;
$padding-mob: 10px;
